:root {
  --inSize: calc(1vw + 1vh); }

@font-face {
  font-family: "Poppins";
  src: url("./src/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

* {
  box-sizing: border-box; }

body {
  font-family: "Poppins", "sans-serif";
  background-image: url("./src/img/photo-1487424439918-bc6b5bef0380.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; }

h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: 10rem; }
  @media (max-width: 576px) {
    h1 {
      font-size: 3rem; } }

.countdown-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.big-text {
  font-size: 7rem;
  line-height: 1;
  margin: 0 2rem; }
  @media (max-width: 576px) {
    .big-text {
      font-size: 5rem; } }

.countdown-el {
  text-align: center; }
  .countdown-el span {
    font-size: 1.5rem; }
